* {
  box-sizing: content-box;
}
html,
h1 {
  display: flex;
  justify-content: center;
}
#game-container {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(3, 100px);
}
img {
  background-color: coral;
}