* {
  box-sizing: content-box;
}
html,
h1 {
  display: flex;
  justify-content: center;
}
#game-container {
  display: grid;
  grid-template-columns: repeat(3, 10em);
  grid-template-rows: repeat(3, 10em);
  border: none;
}
.cell {
  background-color: rgb(218, 184, 140);
}
button {
    font-size: 3em;
}
