* {
  box-sizing: border-box;
}

body {
    margin: 0 auto;
    min-height: 100vh;
}

header, 
.main-content,
footer {
    padding: 2em;
    display: flex;
}

header {
    justify-content: space-between;
}
footer {
    justify-content: center;
}

header { background: #42D130; }
.main-content { background: #3083d1; }
footer { background: #d1b930; }

body {
    display: grid;
    grid-template-columns: 1.5em 1fr 1.5em;
    grid-template-rows: 70px auto 70px;
    grid-template-areas: 
    "header header header"
    "...... main   ......"
    "footer footer footer"
}

@media only screen and (min-width: 860px) {
    body {
        grid-template-columns: 1fr minmax(400px, 650px) minmax(200px, 350px) 1fr;  
        grid-template-rows: 70px auto 70px;
        grid-template-areas: 
        "header header header header"
        "...... main   main   ......"
        "footer footer footer footer";
    }
}

header { grid-area: header; }
.main-content { grid-area: main; }
.sidebar { grid-area: side; }
footer { grid-area: footer; }

.navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navigation-item {
    margin: 0 20px;
}

.navigation-item a {
    text-decoration: none;
    color: #fff;
}

.navigation-logo {
    width: 60px;
    height: 60px;
    opacity: 0.9;
    margin-right: 50px;
}
