* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-height: 100vh;
}

header,
.main-content,
footer {
  padding: 2em;
  display: flex;
}

header {
  justify-content: space-between;
}
footer {
  justify-content: center;
}

header {
  background: #42d130;
}
.main-content {
  background: #3083d1;
}
footer {
  background: #d1b930;
}

body {
  display: grid;
  grid-template-columns: 1.5em 1fr 1.5em;
  grid-template-rows: 70px auto 70px;
  grid-template-areas:
    "header header header"
    "...... main   ......"
    "footer footer footer";
}

@media only screen and (min-width: 860px) {
  body {
    grid-template-columns: 1fr minmax(400px, 650px) minmax(200px, 350px) 1fr;
    grid-template-rows: 70px auto 70px;
    grid-template-areas:
      "header header header header"
      "...... main   main   ......"
      "footer footer footer footer";
  }
}

header {
  grid-area: header;
}
.main-content {
  grid-area: main;
}
.sidebar {
  grid-area: side;
}
footer {
  grid-area: footer;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navigation-item {
  margin: 0 20px;
}

.navigation-item a {
  text-decoration: none;
  color: #fff;
}

.navigation-logo {
  width: 60px;
  height: 60px;
  opacity: 0.9;
  margin-right: 50px;
}

/* index */

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content__title {
  color: cornsilk;
  font-size: 3rem;
  margin-top: 10px;
}

.card {
  width: 60%;
  max-width: 800px;
  min-width: 400px;
  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "num day    desc  button"
    "num month  place button";
}

.card__num {
  grid-area: num;
}
.card__day {
  grid-area: day;
}
.card__month {
  grid-area: month;
}
.card__desc {
  grid-area: desc;
}
.card__place {
  grid-area: place;
}
.card__button {
  grid-area: button;
}

.card__num {
  font-size: 5rem;
  font-weight: bolder;
  grid-template-rows: 1/3;
  display: flex;
  justify-content: flex-end;
}
.card__day {
  display: flex;
  align-items: flex-end;
  font-size: 1.6rem;
}
.card__month {
  display: flex;
  align-items: flex-start;
  font-size: 1.6rem;
}
.card__desc {
  display: flex;
  align-items: flex-end;
  font-size: 1.6rem;
}
.card__place {
  display: flex;
  align-items: flex-start;
  font-size: 1.6rem;
}
.card__button {
  display: flex;
  grid-template-rows: 1/3;
  justify-content: center;
  align-items: center;
}
.card__button button {
  width: 90%;
  padding: 5px 0;
}
strong {
  text-decoration: underline;
}

/* Conócenos */
.about-us__title {
  font-size: 3rem;
}
.about-us__text {
  text-align: center;
  width: 80%;
  margin-bottom: 30px;
}
.about-us__sections {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  min-width: 600px;
}
.about-us__card {
  width: calc(100% / 3);
}

.section__image {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.section__title {
  text-align: center;
}
.section__paragraph {
  text-align: center;
}

/* Contacto */

.contact {
  background-color: indigo;
  width: 80%;
  min-width: 300px;
}
.contact__title {
  font-size: 3rem;
  text-align: center;
  color: seashell;
}
.contact__text {
  font-size: 1.4rem;
  text-align: center;
  margin: 10px 40px;
}
.contact__contact {
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
  background-color: lemonchiffon;
  padding: 40px;
}
.contact__contact a {
  text-decoration: none;
  color: rebeccapurple;
  font-weight: bold;
}
