* {
  box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
}

header, 
.main-content,
.sidebar,
footer {
    padding: 2em;
}

header { background: #42D130; }
.main-content { background: #3083d1; }
.sidebar { background: #b130d1; }
footer { background: #d1b930; }

body {
    display: grid;
    grid-template-columns: 1.5em 1fr 1.5em;
    grid-template-areas: 
    "header header header"
    "...... main   ......"
    "...... side   ......"
    "footer footer footer"
}

@media only screen and (min-width: 860px) {
    body {
        grid-template-columns: 1.5em minmax(400px, 650px) minmax(200px, 350px) 1.5em;  
        grid-template-areas: 
        "header header header header"
        "...... main   side   ......"
        "footer footer footer footer";
    }
}

header { grid-area: header; }
.main-content { grid-area: main; }
.sidebar { grid-area: side; }
footer { grid-area: footer; }
